body {
   position: relative;
   font-size: 16px;
}
#header {
   height: 100%;
   min-height: 100vh;
   width: 100%;
   background-image: url(./assets/hero-desktop.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
#navbar {
   padding: 28px 102px;
}
h1 {
   font-size: 24px;
   flex: 1.5;
}
#navbar > ul {
   flex: 4;
}

#header > div {
   height: 100%;
   gap: 1rem;
   padding-bottom: 68px;
}

#header > div > h3 {
   font-size: 60px;
   font-weight: 400;
}
#header > div > h2 {
   width: 658px;
   font-weight: 500;
   font-size: 100px;
}
#header > div > p {
   width: 417px;
   font-weight: 400;
}
#info-section {
   padding: 100px;
   width: 100%;

   gap: 100px;
}
#info-section > .grid > :first-child {
   grid-row-start: 1;
   grid-row-end: 3;
}
#info-section h4 {
   font-weight: 500;
   font-size: 48px;
   line-height: 64px;
}
#info-section p {
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
}
#perks-section {
   padding: 50px 140px;
   width: 100%;
   gap: 100px;
}
#perks-section article {
   padding: 45px 24px;
   gap: 16px;
}
#perks-section h5 {
   font-weight: 500;
   font-size: 30px;
   font-style: normal;
   line-height: 2rem;
}
#perks-section p {
   font-style: normal;
   font-weight: 500;
}
#store-section {
   padding: 50px 100px;
   width: 100%;
}
.store-head {
   justify-content: space-between;
   margin-bottom: 40px;
}
.store-head > h5,
#hot-deals-section h5 {
   font-size: 45px;
   font-weight: 500;
}
.store-head > p {
   font-weight: 600;
   font-size: 24px;
}
.cards {
   flex-wrap: wrap;
   /* justify-content: flex-start; */
}
.card-img {
   width: 290px;
   height: 290px;
}
.card-img > img {
   height: auto;
   width: 100%;
}
.card-body {
   padding: 20px;
}
.card-title {
   justify-content: space-between;
}
.card-title h5 {
   font-size: 24px;
   font-weight: 500;
}
.card-title p {
   font-weight: 600;
}
.card-info {
   justify-content: space-between;
   align-items: flex-start;
   margin-top: 0.5rem;
}
.card-info p {
   font-size: 14px;
   font-weight: 400;
}
.card-info .btn {
   margin-top: 7px;
}
#deals-section {
   height: 466px;
   width: 100%;
   padding: 0 100px;
   margin-top: 50px;
}
#deals-section > div {
   border-radius: 5px;
   justify-content: flex-end;
   padding: 0 60px;
   height: 100%;
   background-image: url(./assets/xbox-pad.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
}
#deals-section > div > div {
   text-align: left;
   align-items: flex-start;
   max-width: 290px;
}
#deals-section > div > div > h5 {
   font-weight: 600;
   font-size: 38px;
}
#hot-deals-section {
   padding: 50px 100px;
   width: 100%;
}
.deals {
   justify-content: space-between;
   gap: 56px;
}
.deal-card {
   height: 350px;
   width: 590px;
   background-image: url(./assets/purple-background.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 5px;
   gap: 0;
}
