body {
   position: relative;
   font-size: 16px;
}
#header {
   background: transparent;
   height: 100%;
   min-height: 100vh;
   width: 100%;
   background-image: url(./assets/hero-desktop.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
#navbar {
   padding: 28px 102px;
}
h1 {
   font-size: 24px;
   flex: 1.5;
}
#navbar > ul {
   flex: 4;
}

#header > div {
   height: 100%;
   gap: 1rem;
   padding-bottom: 68px;
}

#header > div > h3 {
   font-size: 60px;
   font-weight: 400;
}
#header > div > h2 {
   width: 658px;
   font-weight: 500;
   font-size: 100px;
}
#header > div > p {
   width: 417px;
   font-weight: 400;
}
#info-section {
   /* position: absolute; */
   top: 100vh;
   left: 0;
   padding: 100px;
   gap: 100px;
}
#info-section > .grid > :first-child {
   grid-row-start: 1;
   grid-row-end: 3;
}
#info-section h4 {
   font-weight: 500;
   font-size: 48px;
   line-height: 64px;
}
#info-section p {
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
}
#perks-section {
   position: absolute;
   top: calc(100vh + 736px);
   left: 0;
   padding: 50px 100px;
   width: 100%;
   gap: 100px;
}
#perks-section article {
   padding: 45px 24px;
   gap: 16px;
}
#perks-section h5 {
   font-weight: 500;
   font-size: 30px;
   font-style: normal;
   line-height: 2rem;
}
#perks-section p {
   font-style: normal;
   font-weight: 500;
   /* line-height: 22px; */
}
