body {
   position: relative;
   font-size: 16px;
}
#header {
   height: 100%;
   min-height: 100vh;
   width: 100%;
   background-image: url(./assets/hero-desktop.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
#navbar {
   padding: 28px 102px;
}
h1 {
   font-size: 24px;
   flex: 1.5;
}
#navbar > ul {
   flex: 4;
}

#header > div {
   height: 100%;
   gap: 1rem;
   padding-bottom: 68px;
}

#header > div > h3 {
   font-size: 60px;
   font-weight: 400;
}
#header > div > h2 {
   width: 658px;
   font-weight: 500;
   font-size: 100px;
}
#header > div > p {
   width: 417px;
   font-weight: 400;
}
#info-section {
   padding: 100px;
   width: 100%;

   gap: 100px;
}
#info-section > .grid > :first-child {
   grid-row-start: 1;
   grid-row-end: 3;
}
#info-section h4 {
   font-weight: 500;
   font-size: 48px;
   line-height: 64px;
}
#info-section p {
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
}
#perks-section {
   padding: 50px 140px;
   width: 100%;
   gap: 100px;
}
#perks-section article {
   padding: 45px 24px;
   gap: 16px;
}
#perks-section h5 {
   font-weight: 500;
   font-size: 30px;
   font-style: normal;
   line-height: 2rem;
}
#perks-section p {
   font-style: normal;
   font-weight: 500;
}
#store-section {
   padding: 50px 100px;
   width: 100%;
}
.store-head {
   justify-content: space-between;
   margin-bottom: 40px;
}
.store-head > h5,
#hot-deals-section > .store-head > h5 {
   font-size: 45px;
   font-weight: 500;
}
.store-head > p {
   font-weight: 600;
   font-size: 24px;
}
.cards {
   flex-wrap: wrap;
   /* justify-content: flex-start; */
}
.card-img {
   width: 290px;
   height: 290px;
}
.card-img > img {
   height: auto;
   width: 100%;
}
.card-body {
   padding: 20px;
}
.card-title {
   justify-content: space-between;
}
.card-title h5 {
   font-size: 24px;
   font-weight: 500;
}
.card-title p {
   font-weight: 600;
}
.card-info {
   justify-content: space-between;
   align-items: flex-start;
   margin-top: 0.5rem;
}
.card-info p {
   font-size: 14px;
   font-weight: 400;
}
.card-info .btn {
   margin-top: 7px;
}
#deals-section {
   height: 466px;
   width: 100%;
   padding: 0 100px;
   margin-top: 50px;
}
#deals-section > div {
   border-radius: 5px;
   justify-content: flex-end;
   padding: 0 60px;
   height: 100%;
   background-image: url(./assets/xbox-pad.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
}
#deals-section > div > div {
   text-align: left;
   align-items: flex-start;
   max-width: 290px;
}
#deals-section > div > div > h5 {
   font-weight: 600;
   font-size: 38px;
}
#hot-deals-section {
   padding: 50px 100px;
   width: 100%;
}
.deals {
   justify-content: space-between;
   gap: 56px;
}
.deal-card {
   height: 350px;
   width: 590px;
   background-image: url(./assets/purple-background.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 5px;
   gap: 0;
}
.deal-img {
   width: 300px;
   height: 300px;
   margin-left: -56px;
   margin-bottom: -56px;
}
.deal-img > img {
   height: auto;
   width: 100%;
}
.deal-info {
   margin-left: -36px;
}
.deal-info > h5 {
   font-family: "Butcherman", serif;
   font-size: 35px;
   font-weight: 400;
}
.deal-info > h6 {
   font-size: 30px;
   font-weight: 500;
   margin-top: 24px;
}
.deal-info > button {
   margin-top: 24px;
}
.deal-info > .yellow-text {
   margin-top: 8px;
}
.chip-set {
   gap: 6px;
}
.chip-set > span {
   gap: 4px;
}
.chip-set > span > h5 {
   font-size: 30px;
   font-weight: 500;
}
#footer {
   height: auto;
   width: 100%;
   padding: 50px 100px;
   margin-top: 100px;
   border-top: 6px solid rgba(79, 79, 79, 0.04);
}

#footer > section > .contact {
   flex: 1;
   align-items: flex-start;
   gap: 20px;
}
#footer > section > .contact > .purple-text {
   margin-bottom: 4px;
   font-size: 24px;
   font-weight: 600;
}
#footer > section > .contact > .details {
   font-size: 18px;
   font-weight: 600;
   gap: 10px;
   justify-content: flex-start;
   /* align-items: ; */
}

#footer > section > .contact > .details > span {
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
}
#footer > section > .links {
   flex: 1;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 80px;
}
#footer > section > .links h6 {
   font-size: 18px;
   font-weight: 600;
   font-family: inherit;
   margin-bottom: 24px;
}
#footer > section > .links p {
   font-size: 18px;
   font-weight: 400;
   margin-bottom: 16px;
}
