:root {
   --white: #ffffff;
   --off-white: #e5e5e5;
   --yellow: #f5ca48;
   --purple: #8049ad;
   --light-purple: #a583c9;
   --lightest-purple: #e2d4ed;
   --vanta-black: #000;
   --black: #222;
   --gray: #4f4f4f;
}
*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Inter", sans-serif;
}

.flex {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   gap: 24px;
}
.flex-column {
   flex-direction: column;
}
.flex-justify-end {
   justify-content: flex-end;
}
.grid {
   display: grid;
   grid-template-columns: auto auto;
   grid-template-rows: auto auto;
   /* align-items: center;
   justify-content: center; */
   gap: 16px;
}
/* .grid-column {
   flex-direction: column;
} */

h2,
h3,
h4,
h5,
h6 {
   font-family: "Big Shoulders Text", sans-serif;
}
ul {
   list-style-type: none;
   cursor: pointer;
}
.btn {
   background-color: var(--yellow);
   width: 150px;
   height: 50px;
   border-radius: 4px;
   cursor: pointer;
   border: none;
}

.btn-outline {
   background-color: transparent;
   border: 2px solid var(--purple);
   color: var(--purple);
}
.btn-round {
   background-color: var(--yellow);
   width: 40px;
   height: 40px;
   border-radius: 50%;
}
.card {
   background: var(--white);
}
.card-small {
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.card-big {
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 4px;
}
.chip {
   width: 70px;
   height: 70px;
   background: var(--light-purple);
   border-radius: 3px;
}
.chip-rounded {
   width: 80px;
   height: 80px;
   border-radius: 50%;
   background-color: var(--lightest-purple);
}
.white-text {
   color: var(--white);
}
.yellow-text {
   color: var(--yellow);
}
.purple-text {
   color: var(--purple);
}
.black-text {
   color: var(--black);
}
.grey-text {
   color: var(--gray);
}
.vanta-text {
   color: var(--vanta-black);
}
.center-text {
   text-align: center;
}
.off-white {
   background-color: var(--off-white);
}

.margin-top-one {
   margin-top: 1rem;
}
