/* Variables */
:root {
   --white: #ffffff;
   --yellow: #f5ca48;
   --purple: #8049ad;
   --light-purple: #a583c9;
   --lightest-purple: #e2d4ed;
   --vanta-black: #000;
   --black: #222;
   --gray: #4f4f4f;
}

/* Root Styles */
*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Inter", sans-serif;
}

/* Default Flex Styles */
.flex {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   gap: 24px;
}
.flex-column {
   flex-direction: column;
}
.flex-justify-end {
   justify-content: flex-end;
}

/* Default Grid Styles */
.grid {
   display: grid;
   grid-template-columns: auto auto;
   grid-template-rows: auto auto;
   gap: 16px;
}

/* Header Font */
h2,
h3,
h4,
h5,
h6 {
   font-family: "Big Shoulders Text", sans-serif;
}

/* List Styles */
ul {
   list-style-type: none;
   cursor: pointer;
}

/* Default Button Styles */
.btn {
   background-color: var(--yellow);
   width: 150px;
   height: 50px;
   border-radius: 4px;
   cursor: pointer;
   border: none;
}

/* Outlined Button Styles */
.btn-outline {
   background-color: transparent;
   border: 2px solid var(--purple);
   color: var(--purple);
}

/* Round Button Styles */
.btn-round {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   font-size: 24px;
}

/* Card Styles */
.card {
   background: var(--white);
}

/* Small Card Styles */
.card-small {
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
   width: 290px;
   height: 290px;
}

/* Big Card Style */
.card-big {
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 4px;
   width: 290px;
   height: 410px;
}

/* Chip Style */
.chip {
   width: 70px;
   height: 70px;
   background: var(--light-purple);
   border-radius: 3px;
}

/* Round Chip Style */
.chip-rounded {
   width: 80px;
   height: 80px;
   border-radius: 50%;
   background-color: var(--lightest-purple);
}

/* TEXT STYLES */

/* Color */
.white-text {
   color: var(--white);
}
.yellow-text {
   color: var(--yellow);
}
.purple-text {
   color: var(--purple);
}
.black-text {
   color: var(--black);
}
.grey-text {
   color: var(--gray);
}
.vanta-text {
   color: var(--vanta-black);
}
.strike-through {
   text-decoration: line-through;
   margin-left: 1rem;
}
/* Alignment */
.center-text {
   text-align: center;
}

/* Margin Styles */
.margin-top-one {
   margin-top: 1rem;
}
